<table class="gretting-small player-score">
  <tr>
    <th colspan="2" class=""> KONIEC GRY <br> TWÓJ WYNIK</th>
  </tr>
  <tr>
    <td class="">ZWYCIĘSTWA</td>
    <td class="num"> {{Wynikwinning}}</td>
  </tr>
  <tr>
    <td class="">REMISY</td>
    <td class="num"> {{Wynikdraw}}</td>
  </tr>
  <tr>
    <td class="">PORAŻKI</td>
    <td class="num"> {{Wynikloosing}}</td>
  </tr>
  <tr>
    <td class="">BLACKJACKI</td>
    <td class="num"> {{Wynikblackjack}}</td>
  </tr>
  <tr>
    <td class="">WYNIK </td>
    <td class="num"> {{Wynikmoney}}</td>
  </tr>
</table>
<div class="greeting">
  <a class="mea-button" (click)="ComeBack()">NA START</a><br>
</div>
