<div>
  <div class="greeting col-10">
  <h1>Blackjack</h1>
    <p class="gretting-small">Wybierz z ile potrzebujesz talii kart (1-4):</p>

  <table class="gretting-small">
    <tr>
      <td>
        <label class = "input">
          <input min="1" max="4" type="number" [(ngModel)]="numberOfCards">
        </label>
      </td>
      <td style="min-width:100px">
        <button class="titled-box" (click)="Register()">NOWA GRA    </button><br>
        <button class="titled-box" (click)="Generate()">GENEROWANIE </button><br>
        <button class="titled-box" (click)="ReadMe()"  >ZASADY      </button>
      </td>
    </tr>
  </table>
</div>
</div>
