<div class="greeting col-10">
<h1>Blackjack</h1>
  <p class="gretting-small">Wybierz z ile potrzebujesz talii kart (1-4):</p>

<table class="greeting-small">
  <tr>
    <td>
        <input min="1" max="4" type="number" [(ngModel)]="numberOfCards">
    </td>
    <td>
      <a class="mea-button" (click)="Register()">NOWA GRA    </a><br>
      <a class="mea-button" (click)="Generate()">GENEROWANIE </a><br>
      <a class="mea-button" (click)="ReadMe()"  >ZASADY      </a>
    </td>
  </tr>
</table>
</div>
