<table class="gretting-small">
  <tr>
    <td class="gretting-small"> KONIEC GRY <br> TWÓJ WYNIK:</td>
  </tr>
  <tr>
    <td class="gretting-small">ZWYCIĘSTWA:</td>
    <td class="gretting-small"> {{Wynikwinning}}</td>
  </tr>
  <tr>
    <td class="gretting-small">REMISY:</td>
    <td class="gretting-small"> {{Wynikdraw}}</td>
  </tr>
  <tr>
    <td class="gretting-small">PORAŻKI:</td>
    <td class="gretting-small"> {{Wynikloosing}}</td>
  </tr>
  <tr>
    <td class="gretting-small">BLACKJACKI:</td>
    <td class="gretting-small"> {{Wynikblackjack}}</td>
  </tr>
  <tr>
    <td class="gretting-small">WYNIK </td>
    <td class="gretting-small"> {{Wynikmoney}}</td>
  </tr>
</table>
<div class="greeting">
  <button class="titled-box" (click)="ComeBack()">NA START</button><br>
</div>
