<div>
  <button (click)="Hit1()"> HIT1 </button > <br>
  <button (click)="Hit2()"> HIT2 </button > <br>
  <button (click)="Stand1()"> STAND1 </button> <br>
  <button (click)="Stand2()"> STAND2 </button> <br>
  <button (click)="Double_down()"> DOUBLE DOWN </button> <br>
  <button (click) ="Split()"> SPLIT </button> <br>
  <button (click) ="Insure()"> INSURE </button> <br>
  <button (click) ="Surrender()"> SURRENDER </button> <br>
  <button (click) ="End_game()"> END </button>
</div>

<!--css -> display block-->
