<div *ngIf="game_over">
  <div class="greeting col-10">
    <p  class="gretting-small">
      Koniec gry! <br>
      Skończyły się karty!
    </p>
  <button class="titled-box" (click)="Score()"> OK </button >
  </div>
</div>

<div *ngIf="new_game">
  <div class="greeting col-10">
  <p class="gretting-small">
    Koniec rundy!
  </p>
    <div id = "wygrales"><p class="gretting-small">Wygrałeś!</p></div>
    <div id="remis" ><p class="gretting-small">Remis</p></div>
    <div id="przegrales" ><p class="gretting-small">Przegrałeś</p>
    <button class="titled-box" (click)="New_Game()"> NEW GAME </button > <br>
  </div>
</div>
